function Game.new 0
push constant 11
call Memory.alloc 1
pop pointer 0
push constant 200
push constant 100
push constant 10
call Spaceship.new 3
pop this 0
push constant 5
push constant 55
push constant 15
push constant 65
call Aliens.new 4
pop this 1
push constant 0
pop this 10
push constant 0
pop this 2
push pointer 0
return
function Game.dispose 0
push argument 0
pop pointer 0
push this 0
call Spaceship.dispose 1
pop temp 0
push this 1
call Aliens.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Game.moveSpaceship 0
push argument 0
pop pointer 0
push this 10
push constant 3
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call Spaceship.moveLeft 1
pop temp 0
label IF_FALSE0
push this 10
push constant 4
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
call Spaceship.moveRight 1
pop temp 0
label IF_FALSE1
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function Game.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
push constant 0
return
